<div class="edit-view UserDefaultEditView">

	<div class="edit-view-tab-bar" id="user_default_edit_view_tab_bar">

		<div class="navigation-div" style="display: none">
			<span class="navigation-label"></span>
			<img class="left-click arrow"/>

			<div class="navigation-widget-div"></div>
			<img class="right-click arrow"/>
		</div>

		<span class="close-icon">x</span>

		<ul class="edit-view-tab-bar-label" ondragstart="return false;">
			<li><a ref="tab_employee_id" href="#tab_employee_id"></a></li>
			<li><a ref="tab_contact_info" href="#tab_contact_info"></a></li>
			<li><a ref="tab_employee_preference" href="#tab_employee_preference"></a></li>
			<li><a ref="tab_email_info" href="#tab_email_info"></a></li>
			<li><a ref="tab_tax_deduction" href="#tab_tax_deduction"></a></li>
			<li><a ref="tab_audit" href="#tab_audit"></a></li>
		</ul>


		<div id="tab_employee_id" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_employee_id_content_div">

				<div class="first-column full-width-column"></div>

			</div>
		</div>
		<div id="tab_contact_info" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_contact_info_content_div">

				<div class="first-column full-width-column"></div>

			</div>
		</div>
		<div id="tab_employee_preference" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_employee_preference_content_div">

				<div class="first-column full-width-column"></div>

			</div>
		</div>
		<div id="tab_email_info" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_email_info_content_div">

				<div class="first-column full-width-column"></div>

			</div>
		</div>
		<div id="tab_tax_deduction" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_tax_deduction_content_div">

				<div class="first-column full-width-column"></div>

			</div>
		</div>

		<div id="tab_audit" class="edit-view-tab-outside-sub-view">
			<div class="edit-view-tab" id="tab_audit_content_div">
				<div class="first-column-sub-view"></div>

				<div class="save-and-continue-div">
					<span class="message"></span>

					<div class="save-and-continue-button-div">
						<div class="ribbon-button">
							<img class="icon">
							<span class="label"></span>
						</div>

					</div>
				</div>

			</div>
		</div>


	</div>

</div>