<script>
	var pay_code_wizard_controller = new PayCodeWizardController();
</script>

<div class="wizard">

	<span class="title">Wizard</span>

	<div class="progress-bar">
		<div class="title-1-div">
			<div class="logo"></div>
			<span class="title-1">Wizard</span>
		</div>
		<div class="clear-both-div"></div>
        <progress class="progress" max="10" value="0">
        </progress>
        <span class="steps"></span>
	</div>

	<div class="content">

	</div>



	<div class="bottom-actions">

		<div class="move-buttons-div">
			<button class="back-btn">
				<span style="opacity: 0">.</span>
			</button>
			<button class="forward-btn">
				<span style="opacity: 0">.</span>
			</button>
		</div>

		<div class="confirm-buttons-div">

			<button class="done-btn">
				<span style="opacity: 0">.</span>
			</button>

			<button class="close-btn">
				<span style="opacity: 0">.</span>
			</button>

		</div>

	</div>

    <div class="wizard-content">
        <div class="first-hr wizard-item">
            <div class="wizard-item-label">
                <span></span>
            </div>
            <div class="wizard-item-widget"></div>
        </div>
        <div class="second-hr wizard-item">
            <div class="wizard-item-label">
                <span></span>
            </div>
            <div class="wizard-item-widget"></div>
        </div>
    </div>

</div>