<script type="text/javascript">
    var user_review_control_view_controller = new UserReviewControlViewController();
</script>

<div class="view user-review-control-view" id="user_review_control_view_container">

    <div class="clear-both-div"></div>


    <div class="grid-div">

        <div class="total-number-div">
            <span class="total-number-span"></span>
        </div>
        <div class="grid-top-border"></div>
        <table id="grid"></table>
        <div class="grid-bottom-border"></div><div class="bottom-div"> </div>

    </div>
</div>