<script>
    var install_wizard_controller = new InstallWizardController();
</script>

<div class="install-wizard">

    <span class="title">Wizard</span>

    <div class="progress-bar">
        <div class="title-1-div">
            <div class="logo"></div>
            <span class="title-1">Wizard</span>
        </div>
        <div class="clear-both-div"></div>
    </div>

    <div class="content install-content">
        <div class="step-title" >
            <span class='wizard-label clear-both-div'></span>
        </div>
        <div class="license step" ></div>
        <div class="requirements step" >
            <div class="s-header" >
                <div class="first-column"></div>
            </div>
            <div class="s-body"  >
                <div class="s-label" >
                    <div class="first-label" style="width: 100%; float: left"></div>
                </div>
                <div class="s-require" >
                    <div class="second-column" style="width: 100%; float: left"></div>
                    <div class="forth-column" style="width: 100%; float: left;"></div>
                    <div class="fifth-column" style="width: 100%; float: left;"></div>
                </div>
            </div>
        </div>
        <div class="databaseConfig step">
            <div class="first-column" style="width: 100%;"></div>
            <div class="step-tip wizard-label clear-both-div"></div>
            <div class="second-column" style="width: 100%;"></div>
        </div>
        <div class="databaseSchema step">
            <span class="s-label"></span>
        </div>
        <div class="postUpgrade step"></div>
        <div class="systemSettings step">
            <div class="first-column" style="width: 100%;"></div>
        </div>
        <div class="company step">
            <div class="first-column" style="width: 100%;"></div>
        </div>
        <div class="user step">
            <div class="first-column" style="width: 100%;"></div>
        </div>
        <div class="maintenanceJobs step"></div>
        <div class="installDone step"></div>
        <div class="content-handle-btn"></div>
    </div>

    <div class="bottom-actions">

        <div class="move-buttons-div">
            <button class="back-btn">
                <span style="opacity: 0">.</span>
            </button>
            <button class="forward-btn">
                <span style="opacity: 0">.</span>
            </button>
        </div>

        <div class="confirm-buttons-div">

            <button class="done-btn">
                <span style="opacity: 0">.</span>
            </button>

            <button class="close-btn">
                <span style="opacity: 0">.</span>
            </button>

        </div>

    </div>

</div>