<div class="edit-view AccrualPolicyEditView">

	<div class="edit-view-tab-bar" id="accrual_policy_edit_view_tab_bar">

		<div class="navigation-div" style="display: none">
			<span class="navigation-label"></span>
			<img class="left-click arrow"/>

			<div class="navigation-widget-div"></div>
			<img class="right-click arrow"/>
		</div>

		<span class="close-icon">x</span>

		<ul class="edit-view-tab-bar-label" ondragstart="return false;">
			<li><a ref="tab_accrual_policy" href="#tab_accrual_policy"></a></li>
			<li><a ref="tab_length_of_service_milestones" href="#tab_length_of_service_milestones"></a></li>
            <li><a ref="tab_employee_settings" href="#tab_employee_settings"></a></li>
			<li><a ref="tab_audit" href="#tab_audit"></a></li>
		</ul>


		<div id="tab_accrual_policy" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_accrual_policy_content_div">

				<div class="first-column"></div>
				<div class="second-column"></div>

			</div>
		</div>

		<div id="tab_length_of_service_milestones" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_length_of_service_milestones_content_div">

                <div class="first-column full-width-column"></div>
				<div class="inside-editor-div full-width-column">


				</div>

			</div>
		</div>

        <div id="tab_employee_settings" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_employee_settings_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

                <div class="save-and-continue-div permission-defined-div">
                    <span class="message permission-message"></span>
                </div>

            </div>
        </div>


        <div id="tab_audit" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_audit_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>


	</div>

</div>