<script type="text/javascript">
    var sub_accrual_policy_user_modifier_view_controller = new AccrualPolicyUserModifierViewController( {sub_view_mode: true, parent_view: '<%= parent_view %>'} );
</script>

<div class="view sub-view accrual-policy-user-modifier-view" id="accrual_policy_user_modifier_view_container">

    <div class="clear-both-div"></div>
    <div class="grid-div">
        <div class="total-number-div">
            <span class="total-number-span"></span>
        </div>
        <div class="grid-top-border"></div>
        <div class="sub-grid-view-div">
            <table id="grid"></table>
        </div>

        <div class="grid-bottom-border"></div><div class="bottom-div"> </div>
    </div>
</div>
