<div class="edit-view RequestEditView">

	<div class="edit-view-tab-bar" id="request_edit_view_tab_bar">

		<div class="navigation-div" style="display: none">
			<span class="navigation-label"></span>
			<img class="left-click arrow"/>

			<div class="navigation-widget-div"></div>
			<img class="right-click arrow"/>
		</div>

		<span class="close-icon">x</span>

		<ul class="edit-view-tab-bar-label" ondragstart="return false;">
			<li><a ref="tab_request" href="#tab_request"></a></li>
			<li><a ref="tab_audit" href="#tab_audit"></a></li>
		</ul>


		<div id="tab_request" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_request_content_div">

				<div class="first-column full-width-column"></div>
                <div class="grid-div inside-grid full-width-column">
                    <div class="grid-top-border"></div>
                    <div class="grid-title full-width-column"></div>
                    <table id="grid"></table>
                    <div class="grid-bottom-border"></div><div class="bottom-div"> </div>
                </div>
				<div class="separate full-width-column"></div>
				<div class="second-column full-width-column" style="margin-left: 0"></div>
			</div>

		</div>

		<div id="tab_audit" class="edit-view-tab-outside-sub-view">
			<div class="edit-view-tab" id="tab_audit_content_div">
				<div class="first-column-sub-view"></div>

				<div class="save-and-continue-div">
					<span class="message"></span>

					<div class="save-and-continue-button-div">
						<div class="ribbon-button">
							<img class="icon">
							<span class="label"></span>
						</div>

					</div>
				</div>

			</div>
		</div>


	</div>

</div>