.t-date-picker-div {
    display: inline;
}

.t-date-picker-div .t-date-picker {
    width: 156px;
}

.t-date-picker-div .t-date-picker-readonly {
    background: #EAEAEA;
    border: none;
}

.t-date-picker-div .t-date-picker-icon {
    position: relative;
    top: 2px;
    cursor: pointer;
}

.ui-timepicker-div .ui-widget-header {
    margin-bottom: 8px;
}

.ui-timepicker-div dl {
    text-align: left;
}

.ui-timepicker-div dl dt {
    height: 25px;
    margin-bottom: -25px;
}

.ui-timepicker-div dl dd {
    margin: 0 10px 10px 65px;
}

.ui-timepicker-div td {
    font-size: 90%;
}

.ui-tpicker-grid-label {
    background: none;
    border: none;
    margin: 0;
    padding: 0;
}

.ui-timepicker-rtl {
    direction: rtl;
}

.ui-timepicker-rtl dl {
    text-align: right;
}

.ui-timepicker-rtl dl dd {
    margin: 0 65px 10px 10px;
}

.ui-datepicker .ui-datepicker-buttonpane .ui-datepicker-close {

}

.ui-datepicker .ui-datepicker-buttonpane button.ui-datepicker-current {
    margin-left: 81px;
}

.t-range-picker-div {
    background: none;
    width: auto;
    height: auto;
}

.t-range-picker-div .t-range-picker-tab-bar {
    width: 500px;
    height: 300px;
    min-width: 500px;
}

.t-range-picker-div .col-section {
    display: inline-block;
}

.t-range-picker-div .col-section .label {

}