<?xml version="1.0" encoding="UTF-8"?>
<phpunit    backupGlobals="false"
            backupStaticAttributes="true"
            bootstrap="BootStrap.php"
            cacheTokens="true"
            colors="false"
            convertErrorsToExceptions="true"
            convertNoticesToExceptions="true"
            convertWarningsToExceptions="true"
            forceCoversAnnotation="false"
            mapTestClassNameToCoveredClassName="false"
            printerClass="PHPUnit_TextUI_ResultPrinter"
            processIsolation="false"
            stopOnError="true"
            stopOnFailure="true"
            stopOnIncomplete="false"
            stopOnSkipped="false"
            testSuiteLoaderClass="PHPUnit_Runner_StandardTestSuiteLoader"
            strict="false"
            verbose="false">

    <testsuites>
        
        <testsuite name="Other">
          <directory suffix=".php">testcases/other/</directory>
        </testsuite>

        <testsuite name="Payroll Deduction">
          <directory suffix=".php">testcases/payroll_deduction/</directory>
        </testsuite>

        <testsuite name="Paystub">
          <directory suffix=".php">testcases/paystub/</directory>
        </testsuite>

        <testsuite name="Policy">
          <directory suffix=".php">testcases/policy/</directory>
        </testsuite>

        <testsuite name="Expense">
          <directory suffix=".php">testcases/expense/</directory>
        </testsuite>

        <testsuite name="User Review">
          <directory suffix=".php">testcases/kpi/</directory>
        </testsuite>
        
        <testsuite name="Job Application">
          <directory suffix=".php">testcases/recruitment/</directory>
        </testsuite>

    </testsuites>

</phpunit>
