.user-generic-data-status {

}

.user-generic-data-status .status-labels {
    margin-top: 10px;
}

.user-generic-data-status .failed-label {
    color: #ae0000;
    font-weight: bold;
}

.user-generic-data-status .warning-label {
    color: #daaf00;
    font-weight: bold;
}

.user-generic-data-status .success-label {
    color: #336315;
    font-weight: bold;
}

.user-generic-data-status .label {
    margin-right: 15px;
}

.user-generic-data-status .content {
    height: 500px;
    margin-top: 10px;
    padding: 0;
    position: relative;
    top: 0;
    width: 100%;
    padding-left: 5px;
}

.user-generic-data-status .bott

