.toggle-button-div {

}

.toggle-button-div .toggle-button {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #ffffff), color-stop(1, #dfdfdf));
    background: -moz-linear-gradient(center top, #ffffff 5%, #dfdfdf 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#dfdfdf');
    background-color: #ffffff;
    -moz-border-radius: 6px;
    -webkit-border-radius: 6px;
    border-radius: 6px;
    border: 1px solid #aeaeae;
    display: inline-block;
    color: #49535c;
    font-size: 12px;
    font-weight: normal;
    padding: 3px 5px;
    text-decoration: none;
    cursor: pointer;
    margin: 0px;

}

.toggle-button-div .toggle-button:hover {
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ffffff));
    background: -moz-linear-gradient(center top, #dfdfdf 5%, #ffffff 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ffffff');
    background-color: #dfdfdf;
}

.toggle-button-div .toggle-button:active {
    position: relative;
    top: 1px;
}

.toggle-button-div .first {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;

}

.toggle-button-div .last {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.toggle-button-div .first-last {

}

.toggle-button-div .middle {
    border-radius: 0px;
}

.toggle-button-div .selected {
    background: #999999;
    color: #FFFFFF;
}

.toggle-button-div .selected:hover {
    background: #999999;
    color: #FFFFFF;
}
