<script>
    var reset_password_wizard = new ResetPasswordWizardController();
</script>

<div class="wizard">

    <span class="title">Wizard</span>

    <div class="content" style="height: 533px; top: 10px">


    </div>

    <div class="bottom-actions">
        
        <div class="confirm-buttons-div">

            <button class="done-btn">
                <span style="opacity: 0">.</span>
            </button>

            <button class="close-btn">
                <span style="opacity: 0">.</span>
            </button>

        </div>

    </div>

</div>