<div class="edit-view userDateTotalParentEditView">

    <div class="edit-view-tab-bar" id="user_date_total_parent_edit_view_tab_bar">

        <div class="navigation-div" style="display: none">
            <span class="navigation-label"></span>
            <img class="left-click arrow"/>

            <div class="navigation-widget-div"></div>
            <img class="right-click arrow"/>
        </div>

        <span class="close-icon">x</span>

        <ul class="edit-view-tab-bar-label" ondragstart="return false;">
            <li><a ref="tab_user_date_total_parent" href="#tab_user_date_total_parent"></a></li>

        </ul>


        <div id="tab_user_date_total_parent" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_user_date_total_parent_content_div">
                <div class="first-column-sub-view"></div>

            </div>
        </div>


    </div>

</div>