<script type="text/javascript">
    var sub_user_language_view_controller = new UserLanguageViewController( {sub_view_mode: true} );
</script>

<div class="view sub-view UserLanguageView" id="user_language_view_container">

    <div class="clear-both-div"></div>
    <div class="grid-div grid-outline">

        <!--<div class="total-number-div">-->
        <!--<span class="total-number-span"></span>-->
        <!--</div>-->
        <div class="sub-view-title"></div>

        <div class="grid-top-border"></div>
        <div class="sub-grid-view-div">
            <table id="grid"></table>
        </div>

        <div class="grid-bottom-border"></div><div class="bottom-div"> </div>
    </div>
</div>