<div class="edit-view UserMembershipEditView">

	<div class="edit-view-tab-bar" id="user_membership_edit_view_tab_bar">

		<div class="navigation-div" style="display: none">
			<span class="navigation-label"></span>
			<img class="left-click arrow"/>

			<div class="navigation-widget-div"></div>
			<img class="right-click arrow"/>
		</div>

		<span class="close-icon">x</span>

		<ul class="edit-view-tab-bar-label" ondragstart="return false;">
			<li><a ref="tab_membership" href="#tab_membership"></a></li>
			<li><a ref="tab_attachment" href="#tab_attachment"></a></li>
			<li><a ref="tab_audit" href="#tab_audit"></a></li>
		</ul>


		<div id="tab_membership" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_membership_content_div">

				<div class="first-column full-width-column"></div>

			</div>
		</div>

		<div id="tab_attachment" class="edit-view-tab-outside-sub-view">
			<div class="edit-view-tab" id="tab_attachment_content_div">
				<div class="first-column-sub-view"></div>

				<div class="save-and-continue-div">
					<span class="message"></span>

					<div class="save-and-continue-button-div">
						<div class="ribbon-button">
							<img class="icon">
							<span class="label"></span>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div id="tab_audit" class="edit-view-tab-outside-sub-view">
			<div class="edit-view-tab" id="tab_audit_content_div">
				<div class="first-column-sub-view"></div>

				<div class="save-and-continue-div">
					<span class="message"></span>

					<div class="save-and-continue-button-div">
						<div class="ribbon-button">
							<img class="icon">
							<span class="label"></span>
						</div>

					</div>
				</div>

			</div>
		</div>


	</div>

</div>