<script type="text/javascript">
    var sub_log_view_controller = new LogViewController( {sub_view_mode: true} );
    sub_log_view_controller.noticeDiv = $('.audit-info');
</script>


<div class="audit-info">
    <div class="left">
        <div class="label-div"><span class="label"><%= updated %>:</span></div>
        <div class="info"></div>
    </div>
    <div class="right">
        <div class="label-div"><span class="label"><%= created %>:</span></div>
        <div class="info"></div>
    </div>
</div>

<div class="view sub-view logView" id="log_view_container">

    <div class="clear-both-div"></div>
    <div class="grid-div">
        <div class="grid-top-border"></div>
        <div class="sub-grid-view-div">
            <table id="grid"></table>
        </div>

        <div class="grid-bottom-border"></div>
        <div class="bottom-div"></div>
    </div>
</div>