<script type="text/javascript">
	var schedule_view_controller = new ScheduleViewController();
</script>

<div class="view schedule-view" id="schedule_view_container">

	<div class="clear-both-div"></div>


	<div class="control-bar">
		<div class="date-chooser-div">
		</div>
		<div class="action-chooser-div">

			<div class="switch-button-div" id="all_employee">

			</div>

			<div class="switch-button-div" id="daily_totals">

			</div>

			<div class="switch-button-div" id="weekly_totals">

			</div>

			<div class="switch-button-div" id="strict_range">

			</div>

		</div>
		<div class="schedule-mode-div">
			<div class="toggle-button-div">
			</div>
		</div>
	</div>

	<div class="clear-both-div"></div>

	<div class="grid-div schedule-grid-div">


		<div class="grid-top-border schedule-top-border"></div>
		<table id="grid"></table>
		<div class="grid-bottom-border schedule-top-border"></div>
	</div>
</div>
