<div ng-show="isLoading">
  <span>Loading</span>
</div>
<div ng-show="!isLoading">
  <div class="panel panel-primary">
    <!-- Panel heading -->
    <div class="panel-heading">
      <button class="btn btn-primary btn-circle" style="margin-right:15px;">
        <span class="glyphicon glyphicon-chevron-left"></span>
      </button>
      
      <span><b>{{timesheetStartDate | date:'EEEE, MMMM dd'}}</b></span>
      <span>to</span>
      <span><b>{{timesheetEndDate | date:'EEEE, MMMM dd'}}</b></span>
      
      <button class="btn btn-primary btn-circle" style="margin-left:15px;">
        <span class="glyphicon glyphicon-chevron-right"></span>
      </button>
    </div>

    <!-- Table -->
    <table class="table table-striped">
      <thead>
      <tr>
        <th>Branch</th>
        <th>Department</th>
        <th ng-repeat="headerDate in timesheetHeader">{{headerDate | date:'EEE, MMM dd'}}</th>
      </tr>
    </thead>
    <tbody>
      <tr ng-repeat="(branchDeptKey, branchDeptObj) in timesheet">
        <td>{{branchDeptObj.branchId}}</td>
        <td>{{branchDeptObj.departmentId}}</td>
        <td ng-repeat="dayObj in branchDeptObj.days">
          <input class="form-control" type="number" ng-model="dayObj.hours" />
        </td>
      </tr>
      <tr class="table-footer">
        <td></td>
        <td>Totals</td>
        <td ng-repeat="dayTotal in timesheetTotals()">{{dayTotal}}</td>
      </tr>
    </tbody>
    </table>
    
    <!-- Panel Footer -->
    <div class="panel-footer">
      <button class="btn btn-danger" ng-show="helper.isCancelBtnShown()" ng-click="helper.performCancel()">Cancel</button>
      <button class="btn btn-success" ng-disabled="!helper.isSuccessBtnEnabled()" ng-click="helper.performSave()" ng-show="helper.isSuccessBtnShown()">Save</button>
      <img src="./libs/images/saving-loader.gif" alt="saving" ng-show="helper.isSaveLoaderShown()"/>
    </div>
  </div>
</div>