<div class="edit-view employee-edit-view">

	<div class="edit-view-tab-bar" id="employee_edit_view_tab_bar">

		<div class="navigation-div" style="display: none">
			<span class="navigation-label"></span>
			<img class="left-click arrow"/>

			<div class="navigation-widget-div"></div>
			<img class="right-click arrow"/>
		</div>

		<span class="close-icon">x</span>

		<ul class="edit-view-tab-bar-label" ondragstart="return false;">
			<li><a ref="tab_employee" href="#tab_employee"></a></li>
			<li><a ref="tab_contact_info" href="#tab_contact_info"></a></li>
			<li><a ref="tab_hierarchy" href="#tab_hierarchy"></a></li>
			<li><a ref="tab_wage" href="#tab_wage"></a></li>
			<li><a ref="tab_tax" href="#tab_tax"></a></li>
			<li><a ref="tab_contacts" href="#tab_contacts"></a></li>
            <li><a ref="tab_applications" href="#tab_applications"></a></li>
			<li><a ref="tab_accruals" href="#tab_accruals"></a></li>
            <li><a ref="tab_qualifications" href="#tab_qualifications"></a></li>
            <li><a ref="tab_reviews" href="#tab_reviews"></a></li>
            <li><a ref="tab_attachment" href="#tab_attachment"></a></li>
            <li><a ref="tab_audit" href="#tab_audit"></a></li>
		</ul>


		<div id="tab_employee" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_employee_content_div">

				<div class="first-column"></div>
				<div class="second-column"></div>

			</div>
		</div>

		<div id="tab_contact_info" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_contact_info_content_div">
				<div class="first-column"></div>
				<div class="second-column"></div>

			</div>
		</div>

		<div id="tab_hierarchy" class="edit-view-tab-outside">
			<div class="edit-view-tab" id="tab_hierarchy_content_div">
				<div class="first-column full-width-column"></div>

                <div class="hierarchy-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

			</div>
		</div>

		<div id="tab_wage" class="edit-view-tab-outside-sub-view">
			<div class="edit-view-tab" id="tab_wage_content_div">
				<div class="first-column-sub-view"></div>

				<div class="save-and-continue-div">
					<span class="message"></span>

					<div class="save-and-continue-button-div">
						<div class="ribbon-button">
							<img class="icon">
							<span class="label"></span>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div id="tab_tax" class="edit-view-tab-outside-sub-view">
			<div class="edit-view-tab" id="tab_tax_content_div">
				<div class="first-column-sub-view">


				</div>

				<div class="save-and-continue-div">
					<span class="message"></span>

					<div class="save-and-continue-button-div">
						<div class="ribbon-button">
							<img class="icon">
							<span class="label"></span>
						</div>

					</div>
				</div>

			</div>
		</div>

		<div id="tab_contacts" class="edit-view-tab-outside-sub-view">
			<div class="edit-view-tab" id="tab_contacts_content_div">
				<div class="first-column-sub-view"></div>

				<div class="save-and-continue-div">
					<span class="message"></span>

					<div class="save-and-continue-button-div">
						<div class="ribbon-button">
							<img class="icon">
							<span class="label"></span>
						</div>

					</div>
				</div>

			</div>
		</div>

        <div id="tab_applications" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_applications_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div id="tab_accruals" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_accruals_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

                <div class="save-and-continue-div permission-defined-div">
                    <span class="message permission-message"></span>
                </div>

            </div>
        </div>

		<div id="tab_qualifications" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_qualifications_content_div">
                <div class="first-column-sub-view">
                    <div class="first-sub-view"></div>
                    <div class="second-sub-view"></div>
                    <div class="third-sub-view"></div>
                    <div class="forth-sub-view"></div>
                    <div class="fifth-sub-view"></div>
                </div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
		</div>


        <div id="tab_reviews" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_reviews_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div id="tab_attachment" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_attachment_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div id="tab_audit" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_audit_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>


	</div>


</div>