<div class="edit-view CompanyTaxDeductionEditView">

    <div class="edit-view-tab-bar" id="company_tax_deduction_edit_view_tab_bar">

        <div class="navigation-div" style="display: none">
            <span class="navigation-label"></span>
            <img class="left-click arrow"/>

            <div class="navigation-widget-div"></div>
            <img class="right-click arrow"/>
        </div>

        <span class="close-icon">x</span>

        <ul class="edit-view-tab-bar-label" ondragstart="return false;">
            <li><a ref="tab_tax_deductions" href="#tab_tax_deductions"></a></li>
            <li><a ref="tab_eligibility" href="#tab_eligibility"></a></li>
            <li><a ref="tab_employee_setting" href="#tab_employee_setting"></a></li>
            <li><a ref="tab_attachment" href="#tab_attachment"></a></li>
            <li><a ref="tab_audit" href="#tab_audit"></a></li>
            <li><a ref="tab5" href="#tab5"></a></li>
        </ul>


        <div id="tab_tax_deductions" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_tax_deductions_content_div">

                <div class="first-column full-width-column"></div>
            </div>
        </div>

        <div id="tab_eligibility" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_eligibility_content_div">
                <div class="first-column full-width-column"></div>
            </div>
        </div>

        <div id="tab_employee_setting" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_employee_setting_content_div">

                <div class="inside-editor-div full-width-column">
                    <div class="grid-div employee-setting-grid-div">
                        <table id="employee_setting_grid"></table>
                    </div>
                </div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div id="tab_attachment" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_attachment_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div id="tab_audit" class="edit-view-tab-outside-sub-view">
            <div class="edit-view-tab" id="tab_audit_content_div">
                <div class="first-column-sub-view"></div>

                <div class="save-and-continue-div">
                    <span class="message"></span>

                    <div class="save-and-continue-button-div">
                        <div class="ribbon-button">
                            <img class="icon">
                            <span class="label"></span>
                        </div>

                    </div>
                </div>

            </div>
        </div>


        <div id="tab5" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab5_content_div">

                <div class="first-column full-width-column"></div>
            </div>
        </div>


    </div>


</div>