<script type="text/javascript">

    var sub_company_tax_deduction_view_controller = new CompanyTaxDeductionViewController( {sub_view_mode: true} );

</script>

<div class="view sub-view company-tax-deduction-view" id="company_tax_deduction_view_container">

    <div class="clear-both-div"></div>


    <div class="grid-div">
        <div class="total-number-div">
            <span class="total-number-span"></span>
        </div>
        <div class="grid-top-border"></div>
        <table id="grid"></table>
        <div class="grid-bottom-border"></div><div class="bottom-div"> </div>

    </div>
</div>
