<script type="text/javascript">
	var pay_stub_entry_account_view_controller = new PayStubEntryAccountViewController();
</script>

<div class="view pay-stub-entry-account-view" id="pay_stub_entry_account_view_container">

	<div class="clear-both-div"></div>


	<div class="grid-div">

		<div class="total-number-div">
			<span class="total-number-span"></span>
		</div>
		<div class="grid-top-border"></div>
		<table id="grid"></table>
		<div class="grid-bottom-border"></div><div class="bottom-div"> </div>

	</div>
</div>