<div class="edit-view ChangePasswordEditView">

    <div class="edit-view-tab-bar" id="change_password_edit_view_tab_bar">

        <div class="navigation-div" style="display: none">
            <span class="navigation-label"></span>
            <img class="left-click arrow"/>

            <div class="navigation-widget-div"></div>
            <img class="right-click arrow"/>
        </div>

        <span class="close-icon">x</span>

        <ul class="edit-view-tab-bar-label" ondragstart="return false;">
            <li><a ref="tab_web_password" href="#tab_web_password"></a></li>
            <li><a ref="tab_quick_punch_password" href="#tab_quick_punch_password"></a></li>
        </ul>


        <div id="tab_web_password" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_web_password_content_div">
                <div class="first-column full-width-column"></div>
            </div>
        </div>

        <div id="tab_quick_punch_password" class="edit-view-tab-outside">
            <div class="edit-view-tab" id="tab_quick_punch_password_content_div">
                <div class="first-column full-width-column"></div>
            </div>
        </div>


    </div>

</div>