<script type="text/javascript">
    var sub_job_item_amendment_view_controller = new JobItemAmendmentViewController( {sub_view_mode: true} );
</script>

<div class="view sub-view jobItemAmendmentView" id="job_item_amendment_view_container">

    <div class="clear-both-div"></div>
    <div class="grid-div">
        <div class="grid-top-border"></div>
        <div class="sub-grid-view-div">
            <table id="grid"></table>
        </div>

        <div class="grid-bottom-border"></div><div class="bottom-div"> </div>
    </div>
</div>