<tr class="inside-editor-row data-row">
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class=""></td>
    <td class="cell control-icon">
        <button class="plus-icon" onclick="">
            <span style="opacity: 0">.</span>
        </button>
    </td>
    <td class="cell control-icon">
        <button class="minus-icon " onclick="">
            <span style="opacity: 0">.</span>
        </button>
    </td>

</tr>