<table class="inside-editor-render">

    <tr class="title">
        <td style="width: 50px"><%= week %></td>
        <td style="width: 100px"><%= status %></td>
        <td style="width: 153px"><%= week_names %></td>
        <td style="width: 120px"><%= shift_time %></td>
        <td style="width: 45px"><%= total %></td>
        <td style="width: 145px"><%= schedule_policy %></td>
        <td style="width: 285px"><%= branch_department %></td>
        <td style="width: 235px"><%= job_task %></td>
        <td style="width: 100px"><%= open_shift_multiplier %></td>
    </tr>

</table>