.t-tag-input {
    border: 1px solid #CCC;
    background: #FFF;
    width: 200px;
    min-height: 22px;
    overflow-y: hidden;
    overflow-x: auto;
    float: left;
}

.t-tag-input-readonly {
    background: none;
    border: none;
}

.t-tag-input .add-tag-input {
    width: 99%;
    height: 22px;
    border: none;
}

.t-tag-input .add-tag-input-readonly {
    background: none;
    border: none;

}

.t-tag-input .tag-span-div {
    float: left;
    border: 1px solid #999999;
    border-radius: 2px;
    background: #E0EAF1;
    color: #3E6D8E;
    margin: 2px;
    height: 19px;
}

.t-tag-input .removed {
    background: #FFDDDD !important;
    color: #F04040 !important;
    text-decoration: line-through;
}

.t-tag-input .new {
    background: #cde69c;
    color: #638421;
}

.t-tag-input .tag-span-div .tag-span {

    font-size: 12px;
    padding-left: 3px;

}

.t-tag-input .tag-span-div .close-btn {
    color: #000000;
    cursor: pointer;
    font-size: 10px;
    margin-left: 5px;
    margin-right: 2px;

}

/*div.tagsinput span.tag {*/
/*border: 1px solid #a5d24a;*/
/*-moz-border-radius:2px;*/
/*-webkit-border-radius:2px;*/
/*display: block;*/
/*float: left;*/
/*padding: 5px;*/
/*text-decoration:none;*/
/*background: #cde69c;*/
/*color: #638421;*/
/*margin-right: 5px;*/
/*margin-bottom:5px;*/
/*font-family: helvetica;*/
/*font-size:13px;}*/
/*div.tagsinput span.tag a { font-weight: bold; color: #82ad2b; text-decoration:none; font-size: 11px;  } */
/*div.tagsinput input { width:80px; margin:0px; font-family: helvetica; font-size: 13px; border:1px solid transparent; padding:5px; background: transparent; color: #000; outline:0px;  margin-right:5px; margin-bottom:5px; }*/
/*div.tagsinput div { display:block; float: left; } */
/*.tags_clear { clear: both; width: 100%; height: 0px; }*/
/*.not_valid {background: #FBD8DB !important; color: #90111A !important;}*/
